In [3]:
import sqlite3

In [10]:
'''
## DB connection
conn = sqlite3.connect('GeoQuery.db')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Read and execute SQL commands from the .sql file
with open('C:\\Users\\anark\\Desktop\\Capstone\\GeoQuery\\geography-db.sql', 'r') as sql_file:
    sql_commands = sql_file.read()
    cursor.executescript(sql_commands)

## Commit changes and close the connection
conn.commit()
conn.close()
'''

In [19]:
conn = sqlite3.connect('GeoQuery.db')

cursor = conn.cursor()

cursor.execute("SELECT * FROM city WHERE city_name LIKE 'a%'")

rows = cursor.fetchall()

for row in rows:
    print(row)

#cursor.close()
#conn.close()

('anchorage', 174431, 'usa', 'alaska')
('anaheim', 219311, 'usa', 'california')
('alhambra', 64767, 'usa', 'california')
('alameda', 63852, 'usa', 'california')
('aurora', 158588, 'usa', 'colorado')
('arvada', 84576, 'usa', 'colorado')
('atlanta', 425022, 'usa', 'georgia')
('albany', 74425, 'usa', 'georgia')
('aurora', 81293, 'usa', 'illinois')
('arlington heights', 66116, 'usa', 'illinois')
('anderson', 64695, 'usa', 'indiana')
('ann arbor', 107969, 'usa', 'michigan')
('albuquerque', 331767, 'usa', 'new mexico')
('albany', 101727, 'usa', 'new york')
('akron', 237177, 'usa', 'ohio')
('allentown', 103758, 'usa', 'pennsylvania')
('abingdon', 59084, 'usa', 'pennsylvania')
('altoona', 57078, 'usa', 'pennsylvania')
('austin', 345496, 'usa', 'texas')
('arlington', 160123, 'usa', 'texas')
('amarillo', 149230, 'usa', 'texas')
('abilene', 98315, 'usa', 'texas')
('arlington', 152599, 'usa', 'virginia')
('alexandria', 103217, 'usa', 'virginia')
('appleton', 58913, 'usa', 'wisconsin')